<div class="user_show_track">
  <ul class="cf">
    <% @tracks.each do |track| %>
      <li class="cf">
        <div class="track_thumbnail">
          <%= image_tag track.avatar %>  
        </div>
        <div class="track_overview">
          <h2 class="track_overview_title">
            <%= link_to track.title, user_track_path(@user, track) %>
          </h2>
          <p class='track_overview_description'>
            <%= truncate(track.description, length: 260) %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<%= will_paginate @tracks %>

