<div id="users" class="cf nav_drop">
  <div class="wrapper_skinny">
    <ul>
      <h1 class='page_title'>User Index Page</h1>
      <% @users.each do |user| %>
        <%= link_to user do %>
          <li>
            <%= image_tag user.avatar.url(:medium) %>
            <div class="user_details">
              <h2 class="user_name"><%= user.username %></h2>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= render 'layouts/pagination' %>