<div class="background">
  <div class="wrapper_skinny nav_drop">
    <div class="user_show">
      <div class="user_show_banner">
        <h1 class="user_show_banner_name"> Hayoji </h1>
        <p class="user_show_location"> Camden, London UK </p>
        <div class="user_show_banner_links">
          <a href="follow" class="user_show_banner_link">Follow</a>
          <a href="follow" class="user_show_banner_link">Link</a>
          <a href="follow" class="user_show_banner_link">Button</a>
        </div>
      </div>
      <div class="breadcrumb">
        <a href="#">
          users
          <span> / </span>
          userName
        </a>
      </div>

      <div class="user_show_playlists">
        <ul class="cf">
          <li class="cf">
            <div class="playlist_thumbnail">
              <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
            </div>
            <div class="playlist_overview">
              <h2><a href="#" class="playlist_overview_title"> The Chillzone Playlist</a></h2>
              <p class='playlist_overview_description'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </li>
          <li class="cf">
            <div class="playlist_thumbnail">
              <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
            </div>
            <div class="playlist_overview">
              <h2><a href="#" class="playlist_overview_title"> The Chillzone Playlist</a></h2>
              <p class='playlist_overview_description'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </li>
          <li class="cf">
            <div class="playlist_thumbnail">
              <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
            </div>
            <div class="playlist_overview">
              <h2><a href="#" class="playlist_overview_title"> The Chillzone Playlist</a></h2>
              <p class='playlist_overview_description'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </li>
          <li class="cf">
            <div class="playlist_thumbnail">
              <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
            </div>
            <div class="playlist_overview">
              <h2><a href="#" class="playlist_overview_title"> The Chillzone Playlist</a></h2>
              <p class='playlist_overview_description'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </li>
          <li class="cf">
            <div class="playlist_thumbnail">
              <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
            </div>
            <div class="playlist_overview">
              <h2><a href="#" class="playlist_overview_title"> The Chillzone Playlist</a></h2>
              <p class='playlist_overview_description'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </li>
          <li class="cf">
            <div class="playlist_thumbnail">
              <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
            </div>
            <div class="playlist_overview">
              <h2><a href="#" class="playlist_overview_title"> The Chillzone Playlist</a></h2>
              <p class='playlist_overview_description'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </li>
          <li class="cf">
            <div class="playlist_thumbnail">
              <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
            </div>
            <div class="playlist_overview">
              <h2><a href="#" class="playlist_overview_title"> The Chillzone Playlist</a></h2>
              <p class='playlist_overview_description'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>