<div class="wrapper_skinny">
  <div class="user_show">
    <div class="user_show_banner">
      <h1 class="user_show_banner_name"> Hayoji </h1>
      <p class="user_show_location"> Camden, London UK </p>
      <div class="user_show_banner_links">
        <a href="follow" class="user_show_banner_link">Follow</a>
        <a href="follow" class="user_show_banner_link">Link</a>
        <a href="follow" class="user_show_banner_link">Button</a>
      </div>
    </div>
    <div class="breadcrumb">
      <a href="#">
        users
        <span> / </span>
        userName
      </a>
    </div>

    <div class="user_show_playlists">
      <ul class="cf">
        <li class="cf">
          <div class="playlist_thumbnail">
            <a href="#">
              <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
