<header class="cf">
  <div class="wrapper_wide">
    <a href="#" id="logo">ATB</a>
    <nav>
      <ul>
        <% unless user_signed_in? %>
          <li><a href="#">Explore</a></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Account</a></li>
          <li><%= link_to "Sign Out", destroy_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

