<div id="home_background">
  <%= render 'home/home_nav' %>
  <div class="wrapper_skinny">
    <h1 class="tag_line">Discover great playlists <br>for every moment.</h1>
    <%= link_to "Create Playlist", new_user_registration_path, class: 'button button_highlight' %>
    <%= link_to "Explore", users_path, class: "button button_white" %>
  </div>
</div>