<div id="background">
  <%= render 'home/home_nav' %>
  <div class="wrapper_skinny">
    <h1 class="tag_line">Discover great playlists <br>for every moment.</h1>
    <%= link_to "Create Playlist", class: "button button_highlight" %>
    <%= link_to "Explore", class: "button button_white" %>
  </div>
</div>