<div id="background">
  <%= render 'home/home_nav' %>
  <div class="wrapper_skinny">
    <h1 class="tag_line">Discover great playlists <br>for every moment.</h1>
    <a href="#" class="button button_highlight">Create Playlist</a>
    <a href="#" class="button button_white">Explore</a>
  </div>
</div>