/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *require_tree .
 *= require_self
 */

$orange: #FF5A00;
$lightgrey: #F2F2F2;
$darkgrey: #333;
$white: #FFFFFF;


 
body {
  font-family: 'Open Sans', sans-serif;
 }

.wrapper_wide {
  width: 100%;
  margin: 0 auto;

}

.wrapper {
  width: 90%;
  margin: 0 auto;


}

.wrapper_skinny {
  width: 80%;
  margin: 0 auto;
}

.wrapper_form {
  width: 60%;
  margin: 0 auto;
  padding: 3rem 0;

}

.nav_drop {
  padding: 3.315rem 0;
}

.lightgrey_background {
  background-color: $lightgrey;
  height: 100vh;
}

.lightgrey_background_playlist {
    background-color: $lightgrey; 
}



/*clearfix hack*/
.cf:before,
.cf:after {
    content: "";
    display: table;
} 
.cf:after {
    clear: both;
}

/* Main nav for site */
#main_nav {
  background: $darkgrey;
  position: fixed;
  width: 100%;
  #logo {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: $orange;
    display: inline;
    padding: 1rem;
    font-size: 1rem;
  }
  nav {
    float: right;
    ul {
      list-style: none;
      margin: 0;
      padding: 1rem;
      li {
        display: inline;
        margin-left: 2.5rem;
        a {
          color: $lightgrey;
          text-decoration: none;
          &:hover {
          color: $orange;
          text-decoration: underline;
          }
        }
      }
    }
  }
}

/*Carousel*/

/*pagination*/
.pagination:before, .pagination:after {
    content: " ";
    display: table;
}

.pagination:after {
    clear: both;
}

.pagination {
    text-align: center;
    margin: 1rem 0 5rem 0;
    a, .previous_page, .current, .next_page {
        padding: 0.75rem 1rem;
        margin: 0 .25rem;
        border-radius: .15rem;
        line-height: 1.25;
        text-decoration: none;
        background: #EDEFF5;
        font-weight: 700;
        font-size: .7rem;
        font-style: normal;
        color: blue;
        &:hover {
            background: pink;
            color: white;
        }
    }
    .current {
        background: pink;
        color: white;
    }
    .disabled {
        color: #C0C0C0;
        &:hover {
            color: #C0C0C0;
            background: #EDEFF5;
        }
    }
}


/*forms*/
.field {
  margin: 0.5rem, 0 1.5rem 0;
}

input[type='email'],input[type='text'],input[type='password'],textarea {
  width: 100%;
  height: 2.5rem;
  padding: 0.25rem 1rem;
  background: $lightgrey;
  border: 1px solid $lightgrey;
  border-radius: .30rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#form {
  padding-bottom: 5rem; 
  textarea {
    height: 10rem;
  }
}


@import 'normalize';
@import 'home';
@import 'users';
@import 'tracks';
