/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Open Sans', sans-serif;
 }

.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny {
  width: 60%;
  margin: 0 auto;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
} /*clearfix hack*/

.cf:after {
    clear: both;
}/*clearfix hack*/

/* Main nav for site */
#main_nav {
  background: white;
  padding: 3rem 0;
  #logo {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    text-decoration: none;
  }
  nav {
    float: right;
    ul {
      list-style: none;
      margin: 0;
      li {
        display: inline;
        margin-left: 2.5rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

/*Carousel*/


@import 'normalize';
@import 'home';
@import 'playlists';
