// #carousel {
//   width: 100px;
//   height: 100px;
//   background-color: pink;
//   padding: 3rem;
//   margin: 0 1% 2rem 1%;
//   position: center center;
// }

#playlists {
  padding-bottom: 3rem
  ul {
    padding-left: 0;
    margin: 0;
  }
    li {
      list-style: none;
      width: 23%;
      float: left;
      margin: 0 1% 2rem 1%;
      background-color: grey;
      &:hover {
        img {
          opacity: .5;
        }
        .playlist_details {
          .playlist_title {
            color: blue;
          }
          .date_posted {
            color: pink;
          } 
        }
      }
      img {
        width: 100%;
        max-width: 100%;
      }
      .playlist_details {
        padding: 1rem 7.5%;
        .playlist_title {
          margin: 0;
          font-size: 1rem;
          font-weight: 700;
          color: black;
        }
        .date_posted {
          color: black;
          font-size: 1rem;
          margin: .5rem 0 .25rem 0;
        }
      } 
    }
}


