#users {
  padding-bottom: 3rem;
  .page_title {
    margin-left: 1%;
  }
  ul {
    padding-left: 0;
    margin: 0;
  }
    li {
      list-style: none;
      width: 23%;
      float: left;
      margin: 0 1% 2rem 1%;
      background-color: white;
      &:hover {
        img {
          opacity: .5;
        }
        .user_details {
          .user_name {
            color: blue;
          }
        }
      }
      img {
        width: 100%;
        max-width: 100%;
      }
      .user_details {
        padding: .5rem 0 0 0;
        .user_name {
          margin: 0;
          font-size: 1rem;
          font-weight: 700;
          color: black;
        }
      } 
    }
}

.user_show {
  background-color: white;
  .user_show_banner {
    background-image: image-url("blue_pattern.png");
    background-size: cover;
    text-align: center;
    padding: 1.8rem 0rem 3rem 0rem;
    .user_show_banner_name {
      font-size: 2.5rem;
      font-weight: 300;
      color: white;
      margin: 0;
    }
    .user_show_location {
      margin: 1.1rem 0 2rem;
    }
    .user_show_banner_links {
      margin-top: 1.5rem;
      .user_show_banner_link {
        text-decoration: none;
        font-size: .7rem; 
        text-transform: uppercase;
        text-weight: 700;
        text-align: center;
        color: white;
        display: inline;
        background: $darkgrey;
        border-radius: 2rem;
        padding: .5rem 1rem;
        margin: .5rem 1rem; 
        &:hover {
          color: $orange;
        }
      }
    }
  }
  .breadcrumb {
    padding: 0;
    text-align: center;
    margin-top: 1rem;
    a {
      text-decoration: none; 
      font-weight: 700;
      font-size: .8rem;
      color: $darkgrey;
    } 
    span {
      margin: 0 .5rem;
    }
  }
  .user_show_playlists {
    padding: 1rem;
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      li {
        padding: 1rem 1rem 0.8rem 1rem ;
        margin-bottom: 0;
        .playlist_thumbnail {
          width: 20%;
          float: left;
          margin-right: 1.5%;
          img {
            width: 10rem;
            max-width: 100%;
          }
        }
        .playlist_overview {
          width: 70%;
          float: left;
          h2 {
            margin: 0;
          }
          .playlist_overview_title {
            margin: 0; 
            a {
              color: $darkgrey;
              text-decoration: none;
              font-size: 2rem;
              &:hover {
                // text-decoration: underline;
                color: $orange;
              }
            }
          }
          .playlist_overview_description {
            padding: 0;
          }
        }
      }
    }
  }
}


/* account */
.account_banner {
  padding-bottom: 2rem !important;
  .account_links {
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline;
        margin-right: 2rem;
        font-weight: 600;
        a {
          text-decoration: none;
          color: $darkgrey;
          &:hover {
            color: $orange;           
          }
        }
      }
      .current_page {
        a {
          color: $orange;
        }
      }
    }
  } 
}

.edit_delete_btn {
  font-weight:  400;
  font-size: 1rem;
  a {
    color: $orange;
    margin-right: 1rem;
    text-decoration: none;
    &:hover {
      font-weight: 700;
    }
  }
}

