<%= render 'layouts/main_nav' %>

<div id="playlists" class="cf">
  <div class="wrapper">
    <ul>
      <a href="#">
        <li>
          <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">2nd May 2015</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://img.dummy-image-generator.com/people/dummy-400x400-Headphone-plain.jpg" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">2nd May 2015</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://img.dummy-image-generator.com/people/dummy-400x400-Apollo11-plain.jpg" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">2nd May 2015</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://img.dummy-image-generator.com/people/dummy-400x400-CharlieChaplin-plain.jpg" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">2nd May 2015</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://img.dummy-image-generator.com/people/dummy-400x400-ShandiLee-plain.jpg" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">2nd May 2015</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://img.dummy-image-generator.com/people/dummy-400x400-BarbaraStanwyck-plain.jpg" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">2nd May 2015</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://img.dummy-image-generator.com/people/dummy-400x400-HappyBoy-plain.jpg" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">2nd May 2015</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="http://img.dummy-image-generator.com/people/dummy-400x400-TShirt-plain.jpg" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">2nd May 2015</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>