<%= render 'layouts/main_nav' %>

<div id="playlists" class="cf">
  <div class="wrapper">
    <ul>
      <a href="#">
        <li>
          <img src="#" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">date</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="#" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">date</p>
          </div>
        </li>
      </a>
      <a href="#">
        <li>
          <img src="#" alt="#">
          <div class="playlist_details">
            <h2 class="playlist_title">title goes here</h2>
            <p class="date_posted">date</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>